/* Base Styles */
body {
  /* display: flex; */
  color: rgb(66,66,66);
  background-image: url("http://i.imgur.com/U63X656.jpg");
}
h1,h2,h3,h4,h5,h6 {
  color: rgb(44,44,44);
}
a {
  color: rgb(42,93,173);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
blockquote {
  padding-left: 16.875px;
  border-left: 6px solid lightgray;
  margin-left: 10.875px;
  margin-right: 0;
  padding-right: 0;
}
.landing-page {
  }
#react-mount {
  background-color: #f7f7f7;
  margin: auto;
  opacity: 0.65;
}
nav {
  width:100%;
}
nav ul {
  -webkit-font-smoothing:antialiased;
  text-shadow:0 1px 0 #FFF;
  background: #ddd;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  float: right;
}
nav li {
  margin: 0;
  padding: 0;
  position: relative;
  min-width: 25%;
}
nav a {
  background: #ddd;
  color: #444;
  display: block;
  font: bold 16px/50px sans-serif;
  padding: 0 25px;
  text-align: center;
  text-decoration: none;
  transition: all .25s ease;
}
nav .dropdown:after {
  content: ' ▶';
}
nav .dropdown:hover:after{
  content:'\25bc'
}
nav li:hover a {
  background: #ccc;
}
nav li ul {
  float: right;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 35px;
  visibility: hidden;
  transition: all .25s ease;
}
nav li:hover ul {
  opacity: 0.75;
  top: 50px;
  visibility: visible;
}
nav li ul li {
  float: none;
  /* width: 100%; */
}
nav li ul a:hover {
  background: #bbb;
  
}
/* Clearfix */

.cf:after, .cf:before {
    content:"";
}
.cf:after {
    clear:both;
}
/* Mobile Sizing 20em - 30em (320px - 480px) */
/* iPad Sizing 30em - 56.25 (480px - 900px) */
/* Desktop Sizing 56.25em - Up (900px - Up) */


